p
{
  color:rgb(0,0,102);
  background-color:rgba(0,0,102,0.5);
}

p:nth-of-type(1)
{
  font-size:30px;
}
p:hover
{
  background-color:rgb(0,0,0);
}

p:hover:nth-of-type(1)
{
  font-family:old_london,sans-serif;
}
#laaa
{
  width:120px;
  height:120px;
}
.quad
{
  width:30px;
  height:30px;
}
.big
{
  width:30px;
  height:30px;
}
